/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Center the login form vertically and horizontally */
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-left: 800px;
 
    background-image: url('https://images.unsplash.com/photo-1620799139507-2a76f79a2f4d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8dHNoaXJ0JTIwZGVzaWdufGVufDB8fDB8fHww&w=1000&q=80');
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-size: 170ex;
    background-position:center;  
  
  }
  
  
  /* Style the login container */
  .login-container {
    background: transparent;
    margin-top: 10px;
    margin-left: -520px;
    border-radius: 5px;
    padding: 30px;
    width: 300px;
    text-align: center;
   
  }
  
  /* Style the login form header */
  .login-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Style form fields and labels */
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .label {
    display: block;
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
  
  /* Style the login button */
  .login-button {
    background:#36750b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .login-button:hover {
    background:  #2a5e07;
  }
  
  /* Additional styling for the form footer */
  .form-footer {
    margin-top: 20px;
    font-size: 14px;
    color: #777;
  }
  .line{
    text-decoration: none;
  }
  .login-page{
    margin-right: 60px;
  }