/* PrivacyPolicy.css */
body
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.body-privacy{

   
    background-repeat: no-repeat;
    padding: 100px 200px;
    background-size: 200vh ;
    
}
/* Style the main Privacy Policy container */
.privacy-policy {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-style: oblique;
    
  }
  
  /* Style section headers */
  .privacy-policy h1, .privacy-policy h2 {
    color: #333;
    margin-top: 10px;
    line-height: 2;
  }
  
  /* Style the paragraphs */
  .privacy-policy p {
    margin-bottom: 15px;
  }
  
  /* Style the unordered list */
  .privacy-policy ul {
    margin-left: 20px;
  }
  
  /* Style list items */
  .privacy-policy li {
    margin-bottom: 5px;
  }
  
  /* Style the contact information section */
  .privacy-policy .contact-info {
    margin-top: 30px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    font-style:oblique;
  }
  .aa
  .bb
  .cc{
     line-height: 1.4;
  
  }
  /* Privacycss.css */
  
  /* Style the logo image */
  .logo-image {
    max-width: 150px; /* Set the maximum width for the image */
    height: auto; /* Maintain the aspect ratio */
  
  }
  .privacy-policy {
    background-color: rgba(255, 255, 255, 0.9); /* Adjust the opacity here */
  
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  /* Add some spacing between the sections */
  }