/* Container styles */
.new-appone-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f8f8f8; /* Light background color */
    color: #333;
    font-family: 'Arial', sans-serif;
    position: relative; /* Position relative to contain the background animation */
    overflow: hidden; /* Hide overflow content */
  }
  
  /* Background animation styles */
  .background-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #007bff, #0056b3);
    z-index: -1; /* Place behind other content */
    animation: backgroundAnimation 10s linear infinite alternate; /* Background animation */
  }
  
  @keyframes backgroundAnimation {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.05);
    }
  }
  
  /* Header styles */
  .new-appone-header {
    background-color: #007bff; /* Header background color */
    color: #fff;
    padding: 2rem;
  }
  
  .new-appone-title {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
  }
  
  .new-appone-subtitle {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  
  /* Content styles */
  .new-appone-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
  }
  
  /* Button styles */
  .new-appone-button {
    margin-top: 2rem;
  }
  
  .new-appone-button a {
    background-color: #007bff; /* Button background color */
    color: #fff;
    text-decoration: none;
    padding: 1.5rem 3rem;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    transition: background-color 0.3s, opacity 0.3s;
  }
  
  .new-appone-button a:hover {
    background-color: #0056b3; /* Button background color on hover */
    opacity: 0.9;
  }
  
  /* Footer styles */
  .new-appone-footer {
    padding: 2rem;
    text-align: center;
    background-color: #333; /* Footer background color */
    color: #fff;
  }
  
  .new-appone-footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Social links styles */
  .new-appone-social-links {
    display: flex;
    justify-content: center; /* Center the social links horizontally */
    margin-top: 1rem; /* Add margin for spacing */
  }
  
  .new-appone-social-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 0.5rem; /* Adjust margin for spacing between links */
    font-size: 1.5rem;
    transition: opacity 0.3s;
  }
  
  .new-appone-social-links a:hover {
    opacity: 0.7;
  }
  .hello{
    margin-top: 30px;
  }